/*Desktop*/
@media only screen and (min-width: 768px) {
  h2 {
        text-align: center;
        font-size: 25px;
        font-weight: 300;
        padding-top: 2%;
        padding-bottom: 5%;
  }
  body {
    text-align:center;
    background-color: #614251;
    font-family: 'Amatic SC', cursive;
  }
  input {
        width: 350px;
        padding: 10px 10px;
        margin: 15px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        font-family: 'Rajdhani', sans-serif;    }
  #phone {
        padding-bottom: 2%;
        text-align: center;

    }

  #email {
        padding-bottom: 2%;
        text-align: center;


    }
}
/*Mobile*/
@media only screen and (min-width:360px) {
  h2 {
        text-align: center;
        font-size: 25px;
        font-weight: 300;
        padding-top: 2%;
        padding-bottom: 5%;  }
  body {
    text-align:center;
    background-color: #614251;
    font-family: 'Amatic SC', cursive;
  }
  input {
        width: 350px;
        padding: 10px 10px;
        margin: 15px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        font-family: 'Rajdhani', sans-serif;
 }
  #phone {
        padding-bottom: 2%;
        text-align: center;

    }

  #email {
        padding-bottom: 2%;
        text-align: center;


    }
}  