/*
  Golden Section Modular Scale:
  https://www.modularscale.com/?22&px&1.618
*/

/*Desktop*/
@media only screen and (min-width: 768px) {
  h2 {
        text-align: center;
        font-size: 25px;
        font-weight: 300;
        padding-top: 2%;
        padding-bottom: 5%;
  }
  body {
    text-align:center;
    background-color: #d676a3;
    font-family: 'Amatic SC', cursive;
  }
  input {
        width: 350px;
        padding: 10px 10px;
        margin: 15px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        font-family: 'Rajdhani', sans-serif;    }
  #phone {
        padding-bottom: 2%;
        text-align: center;

    }

  .my-module {
        width: 406.422px;
    }

  #email {
        padding-bottom: 2%;
        text-align: center;


    }
  #submit_button {
        background-color: #67e4c7;
        border: none;
        color: black;
        padding: 15px 32px;
        width: 350px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;

    }
}
/*Mobile*/
@media only screen and (min-width:360px) {
  h2 {
        text-align: center;
        font-size: 25px;
        font-weight: 300;
        padding-top: 2%;
        padding-bottom: 5%;  }
  body {
    text-align:center;
    background-color: #d676a3;
    font-family: 'Amatic SC', cursive;
  }
  input {
        width: 350px;
        padding: 10px 10px;
        margin: 15px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        font-family: 'Rajdhani', sans-serif;
 }
  #phone {
        padding-bottom: 2%;
        text-align: center;

    }

  #email {
        padding-bottom: 2%;
        text-align: center;
    }

  #submit_button
    {
        background-color: #67e4c7;
        border: none;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;

    }
}  